

.hero {
  min-height: 100vh;
  position: relative;
  background: url(./asetes/img3.jpg) rgba(0, 0, 0, 0.75);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 70px 0;
  padding-left: 7rem;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6rem;
  border: 2px solid rgb(4, 242, 255);
  padding: 18px 125px;
  margin-top: 45px;
  margin-left: 7rem;
  margin-bottom: 100px;
}

.navbar p {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.big-text {
  font-size: 100px;
  font-weight: 800;
  color: white;
}

.small-text {
  font-size: 40px;
  color: white;
}

.small-text .link-p {
  padding: 10px 10px;
  font-size: 15px;
  color: #00a8ff;
  text-decoration: dotted;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.title .buttons button {
  font-size: 20px;
  padding: 20px 35px;
  text-align: center;
  border: 2px solid #00a8ff;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.title .buttons button:hover {
  background-color: #00a8ff;
  color: white;
}

@media (max-width: 1080px) {
  .hero {
    background-position: bottom;
  }

  .navbar {
    padding: 18px 50px;
    margin-left: 3rem;
  }

  .big-text {
    font-size: 55px;
  }

  .small-text {
    font-size: 25px;
  }

  .buttons {
  }
}
@media (max-width: 600px) {
  .hero {
    background-position: bottom;
  }

  .navbar {
    padding: 18px 50px;
    margin-left: 3rem;
  }

  .big-text {
    font-size: 55px;
  }

  .small-text {
    font-size: 25px;
  }

  .buttons {
  }
}

@media (max-width: 450px) {
  .hero {
    background-position: bottom;
    padding-left: 2rem;
  }

  .navbar {
    font-size: 15px;
    padding: 18px 30px;
  }

  .big-text {
    font-size: 40px;
  }

  .small-text {
    font-size: 20px;
  }

  .title .buttons button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

/**  ------WorkoutSessions second page css starting here ---------*/

.workOut {
  max-width: 1050px;
  min-height: 100vh;
  display: flex;
  /* justify-content: center;
   align-items: center; */
  margin: 0 auto;
  padding: 100px 0 50px 0;
  gap: 75px;
  scroll-behavior: smooth;
}

.workOut .first-msg {
  /* width: 500px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.workOut .first-msg h1 {
  font-size: 40px;
  color: #00a8ff;
}

.workOut .first-msg p {
  font-size: 20px;
  line-height: 25px;
  color: rgb(6, 5, 5);
  margin-top: 20px;
}

.workOut .logo-second img {
  width: 100%;
  background-image: cover;
}

.boxes {
  /* width: 500px; */
  flex: 1;
  flex-wrap: nowrap;
}

.boxes .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  border: 2px solid #00a8ff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px #00a8ff;
  transition: 500ms ease-in-out;
  box-shadow: 0 0 5px #00a8ff;
} 

.boxes .box:hover {
  transform: scale(1);
  box-shadow: 0 0 10px #00a8ff;
  background-color: chocolate;
  color: white;
}

 
.boxes .box h1 {
}

.boxes .box p {
  line-height: 25px;
  font-size: 20px;
  color: rgb(6, 5, 5);
}


@media (max-width: 1180px) {
  .workOut {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .workOut .first-msg {
    text-align: center;
  }

  .workOut .first-msg h1 {
    font-size: 30px;
  }

  .workOut .first-msg p {
    padding: 0px 20px;
    font-size: 18px;
  
  }

  .workOut .logo-second img {
    padding: 0px 10px;
  }

  .workOut .boxes {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:0px 20px;
  }
}

/* *------------------- Gallery Section ------------------------------ */

.gallery-section {
  max-width: 1050px;
  min-height: 100vh;
  background: #111111;
}

/* *------------------- principal Section ------------------------------ */


.pricing {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 100px 0 50px 0;
}
.pricing h1 {
  font-size: 2.2rem;
  margin: 0 auto;
  letter-spacing: 1px;
}
.pricing .wrapper {
  display: flex;
  gap: 30px;
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
}
.pricing .wrapper .card {
  flex: 1;
  position: relative;
  height: 700px;
  box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.75);
}
.pricing .wrapper .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pricing .wrapper .card .title {
  z-index: 1;
  position: relative;
  height: 250px;
  color: #fff;
  overflow-y: hidden;
  padding: 30px;
}
.pricing .wrapper .card .title h1 {
  font-size: 3rem;
  color: #0095ff;
  position: relative;
  z-index: 5;
}
.pricing .wrapper .card .title h3 {
  font-size: 2.5rem;
  position: relative;
  z-index: 5;
}
.pricing .wrapper .card .title p {
  font-size: 20px;
  position: relative;
  z-index: 5;
  margin-top: 5px;
}
.pricing .wrapper .card .title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.pricing .wrapper .card .title::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: -11px;
  background: whitesmoke;
  transform: skew(0, -2deg);
  left: 0;
}
.pricing .wrapper .card .description {
  background: whitesmoke;
  position: relative;
  z-index: 1;
  flex: 3;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 20px;
}
.pricing .wrapper .card .description p {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 15px;
}
.pricing .wrapper .card .description p svg {
  color: #0095ff;
}
.pricing .wrapper .card .description a {
  background: transparent;
  color: #fff;
  font-weight: 500;
  background: #0095ff;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s;
}
.pricing .wrapper .card .description a:hover {
  transition: 0.3s;
  background: #0267af;
}
.pricing .wrapper .card:nth-child(2):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.pricing .wrapper .card:nth-child(2) .description {
  background: transparent;
  position: relative;
  z-index: 1;
  flex: 3;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 20px;
  color: #fff;
  padding-top: 20px;
}
.pricing .wrapper .card:nth-child(2) .title {
  z-index: 1;
  position: relative;
  height: 220px;
  color: #fff;
  overflow-y: hidden;
}
.pricing .wrapper .card:nth-child(2) .title::after,
.pricing .wrapper .card:nth-child(2) .title::before {
  display: none;
}
@media (max-width: 1520px) {
  .pricing {
    padding: 50px 20px 50px 20px;
  }
  .pricing .wrapper {
    min-width: 100%;
    gap: 25px;
  }
}
@media (max-width: 1222px) {
  .pricing .wrapper .card .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pricing .wrapper .card .title h1 {
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
  }
  .pricing .wrapper .card .title h3 {
    font-size: 1.6rem;
    overflow: hidden;
  }
  .pricing .wrapper .card .title p {
    overflow: hidden;
  }
  .pricing .wrapper .card:nth-child(2) .title {
    height: 250.67px;
  }
  .pricing .wrapper .card:nth-child(2) .description {
    height: 386px;
  }
}
@media (max-width: 1200px) {
  .pricing h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 900px) {
  .pricing .wrapper .card:nth-child(2) .description,
  .pricing .wrapper .card .description {
    padding: 10px;
  }
}
@media (max-width: 840px) {
  .pricing .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .pricing .wrapper .card {
    width: 650px;
  }
}
@media (max-width: 690px) {
  .pricing .wrapper .card {
    width: 100%;
  }
}


/* *------------------- Contact Section ------------------------------ */


.contact-from {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
  min-height: 100vh;
  width: 100%;
  background: #111;
  padding: 20px;
  box-sizing: border-box;
}

.contact-from h1 {
  color: #881093;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 600px;
  padding: 20px;
  /* background:url(./asetes/contact.jpg) rgba(0, 0, 0, 0.75); */
  background-size: cover;
  background-blend-mode: darken;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  outline: none;
}

form div label {
  font-size: 1.5rem;
  color: #fff;
}

form div input {
  color: white;
  height: 40px;
  padding: 10px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  /* word-break:keep-all;
  word-wrap:break-word; */
}

form div button {
  padding: 10px 15px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background: #0193c8;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
margin-top: 150px;
}

@media (max-width: 690px) {
  form {
    width: 100%;
    word-wrap: break-word;
  }
}

/* *------------------- BMIcalculator Section ------------------------------ */

.bmi {
  /* display: flex; */
  width: 100%;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #0a2b42, #60698b);
}

.bmi h1{
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-top: 50px;
}

.bmi .containe-bmi {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.bmi-form form{
  width: 700px;
  height: 600px;

}

.bmi-form form div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  outline: none;
  background: transparent;
}

.bmi .gender{
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  padding: 7px 4px;
  margin-top: 10px;
  gap: 20px;
}

.bmi .gender form div option {
  color: #111;
}
.bmi .gender form div input:focus,
.bmi .gender form div select:focus {
  outline: none;
}

.bmi .gender section option {
  padding: 7px 4px;
  font-size: 22px;
  border: none;
  background: transparent;
}



.bmi-img img {
  /* background: url(./asetes/bmi.jpg); */
  width: 700px;
  height: 600px;
  background: cover;
  margin-top: 50px;
  margin-left: 50px;
}


@media (max-width: 1520px) {
  .bmi {
    padding: 100px 20px 50px 20px;
  }
  .bmi .container-bmi {
    min-width: 100%;
  }
}
@media (max-width: 735px) {
  .bmi .container-bmi .bmi-form {
    flex-direction: column-reverse;
    gap: 1px;
  }
}

.bmi{
  justify-content: center;
 
}


/* * --------------------footer --------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  background: #111;
  padding: 20px;
  box-sizing: border-box;
}

.footer p {
  color: #0095ff;
  font-size: 1.5rem;
}